<!DOCTYPE html>
<html ng-app="codecraft">
<head>
  <title>Lists Of Things</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="main.css"/>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Lists Of Things</a>
      </div>
    </div>
  </nav>
  <div class="container main-content" ng-controller="PersonController">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline well well-sm">
          <span class="glyphicon glyphicon-search"></span>
          <div class="form-group">
            <input type="text" class="form-control"
              id="name"
              ng-model="search"
              placeholder="Search name...">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birhday</th>
          </tr>
          <tr ng-repeat="person in persons | filter:sensitiveSearch"
              ng-style="{
                'background-color' : $index == selectedIndex ? 'lightgray' : ''
              }"
              ng-click="selectPerson(person,$index)">
            <td>{{$index}}</td>
            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
            <td>{{person.birthday}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Default</div>
          <div class="panel-body">
            <dl>
              <dt>Name</dt>
              <dd>{{selectedPerson.name}}</dd>
              <dt>Email</dt>
              <dd>{{selectedPerson.email}}</dd>
              <dt>Birthday</dt>
              <dd>{{selectedPerson.birthday}}</dd>
              <dt>Phonenumber</dt>
              <dd>{{selectedPerson.phone}}</dd>
              <dt>Address</dt>
              <dd>{{selectedPerson.address}}</dd>
            </dl>
          </div>
      </div>
      <div>
        <pre>{{search}}</pre>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
