<div class="container-fluid">
  <div class="row" ng-controller="AboutCtrl">
    <div class="col-md-3">
      <img src="images/about.png" alt="images"/>
    </div>
    <div class="col-md-9">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Name: {{about.name}}</li>
        <li class="list-group-item list-group-item-info">Age: {{about.age}}</li>
        <li class="list-group-item list-group-item-info">Email: {{about.email}}</li>
        <li class="list-group-item list-group-item-info">Website: {{about.website}}</li>
        <li class="list-group-item list-group-item-info">FB: {{about.fb}}</li>
        <li class="list-group-item list-group-item-info">Skill: {{about.skill}}</li>
      </ul>
    </div>
  </div>

</div>
