@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700);

body{
  background: #FFFFF;
  font-family: sans-serif serif;
  font-size: 13px;
  padding-top: 0px;
  overflow-x: hidden;
  height: 100%;
}
#ng-view{
  padding-top: 70px;
}
img{
  width: 200px;
  height: 200px;
}
