<div class="page-header">
  <h1>All Employee</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email Address</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Huynh Ngoc Tu</td>
          <td>Nga Bay - Hau Giang</td>
          <td>hntu@gmail.com</td>
          <td>0974 68 52 54</td>
          <td>24</td>
          <td>Female</td>
          <td><a href="#" class="btn btn-default btn-xs">View</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bui Bich Ngoc</td>
          <td>Am Tien - Thanh Hoa</td>
          <td>bbngoc@gmail.com</td>
          <td>0974 68 52 54</td>
          <td>24</td>
          <td>Female</td>
          <td><a href="#" class="btn btn-default btn-xs">View</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Ly Kieu Le</td>
          <td>Tran De - Soc Trang</td>
          <td>lkle@gmail.com</td>
          <td>0974 68 52 54</td>
          <td>24</td>
          <td>Female</td>
          <td><a href="#" class="btn btn-default btn-xs">View</a></td>
        </tr>
     </tbody>
   </table>
</div>
