<div class="form-horizontal">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          <p class="form-control-static">Thuan Pham</p>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <p class="form-control-static">0907 65 68 65</p>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-4 control-label">Address</label>
        <div class="col-sm-8">
          <p class="form-control-static">Nga Bay - Hau Giang</p>
        </div>
      </div>
      <div class="form-group">
        <label for="sex" class="col-sm-4 control-label">Sex</label>
        <div class="col-sm-8">
          <p class="form-control-static">Male</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="facebook" class="col-sm-4 control-label">Facebook</label>
        <div class="col-sm-8">
          <p class="form-control-static">fb.com/core0dual</p>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <p class="form-control-static">0907 65 68 65</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <p class="form-control-static">pvthuan0702@gmail.com</p>
        </div>
      </div>
      <div class="form-group">
        <label for="github" class="col-sm-4 control-label">Github</label>
        <div class="col-sm-8">
          <p class="form-control-static">github.com/songlunglinh</p>
        </div>
      </div>
    </div>
  </div>
</div>
